<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/png" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <!-- MathJax to render mathblocks -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- Same as homepage header content + back to homepage link -->

        {% if site.avatar %}
        <a class="image avatar"><img src="{{ site.avatar | relative_url }}" alt="avatar" /></a>
        {% endif %}

        <h1>{{ site.title }}</h1>

        {% if site.position %}
        <position style="font-size:1.10rem;">{{ site.position }}</position>
        <br>
        {% endif %}
        {% if site.affiliation %}
        <a href="{{ site.affiliation_link }}" rel="noopener"><autocolor>{{ site.affiliation }}</autocolor></a>
        <br>
        {% endif %}
        {% if site.email %}
        <email>{{ site.email }}</email>
        {% endif %}

        <br>
        <br>
        <div class="social-icons">
        {% if site.google_scholar %}
        <a style="margin: 0 5px 0 0" href="{{ site.google_scholar }}">
          <i class="ai ai-google-scholar" style="font-size:1.2rem"></i>
        </a>  
        {% endif %}

        {% if site.cv_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.cv_link | relative_url }}">
          <i class="ai ai-cv" style="font-size:1.3rem;"></i>
        </a>
        {% endif %}

        {% if site.github_link %}
        <a style="margin: 0 5px 0 0" href="{{ site.github_link }}">
          <i class="fab fa-github"></i>
        </a>
        {% endif %}

        {% if site.linkedin %}
        <a style="margin: 0 5px 0 0" href="{{ site.linkedin }}">
          <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}

        {% if site.twitter %}
        <a style="margin: 0 0 0 0" href="{{ site.twitter }}">
          <i class="fab fa-x-twitter"></i>
        </a>
        {% endif %}
        </div>
        <br>

        <!-- Back to homepage link -->
        <a href="/">Back to Home</a>
      </header>

      
      <section>
        <h1>{{ page.title }}</h1>
        {{ content }}
      </section>
      <footer>
        
      </footer>
    </div>
  </body>
</html>
