<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:type" content="website">

    <link rel="icon" href="{{ site.favicon | relative_url }}" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ '/assets/css/project.css' | relative_url }}">

    <!-- MathJax, for pages that use math -->
    <script>
      window.MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
      };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>

  <body>
    <a class="back-link" href="{{ '/' | relative_url }}">&larr; {{ site.title }}</a>

    <main>
      <header class="paper-header full-bleed">
        <div class="paper-header-inner">
          <h1>{{ page.title }}</h1>

          {% if page.authors %}
          <div class="authors">
            {% for author in page.authors %}
            <div class="author">
              <div class="author-name">
                {% if author.url %}<a href="{{ author.url }}">{{ author.name }}</a>{% else %}{{ author.name }}{% endif %}
              </div>
              {% if author.institution %}
              <div class="author-institution">{{ author.institution }}</div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.venue %}
          <div class="venue">{{ page.venue }}</div>
          {% endif %}

          {% if page.links %}
          <div class="links">
            {% for link in page.links %}
            <a href="{{ link.url | relative_url }}">
              {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
              <span>{{ link.name }}</span>
            </a>
            {% endfor %}
          </div>
          {% endif %}
        </div>
      </header>

      {{ content }}
    </main>

    <footer class="paper-footer">
      <p>
        Layout adapted from
        <a href="https://research-template.roman.technology" rel="nofollow">Roman Hauksson-Neill's project page template</a>.
      </p>
    </footer>
  </body>
</html>
